<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:thnum="http://www.thymeleaf.org/extras/numbers">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <th:block id="home-static-resources">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{../../static/css/style.css}"/>
    </th:block>
    <style media="screen">
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
    </style>

    <link rel="shortcut icon" href="../../static/assets\images\favicon.ico">

    <!-- App css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link href="../../static/assets\css\bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet">
    <link href="../../static/assets\css\icons.min.css" rel="stylesheet" type="text/css">
    <link href="../../static/assets\css\app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        function showValue(value) {
            document.getElementById("rangeValue").innerHTML = value;
        }
        function showValue1(value) {
            document.getElementById("rangeValue1").innerHTML = value;
        }
    </script>
</head>
<body>
<div id="wrapper">


    <!-- Topbar Start -->
    <div class="navbar-custom" th:insert="layout/nav.html :: header">

    </div>
    <!-- end Topbar -->
    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu" th:insert="layout/slidebar.html :: header">

    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-center">
                                <h1 class="page-title" style="text-align: center; font-size: 200%">Voucher</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="row">
                    <div class="col-12">

                        <div class="row">
                            <div class="col-12">
                                <div class="card-box" style="display: flex;justify-content:center ">
                                    <div class="col-xl-12">
                                        <div class="dataTables_filter">
                                            <form action="/voucher/view-add" method="get"
                                                  style="float: right; margin-top: 20px">
                                                <button type="submit" class="btn btn-success waves-effect waves-light"
                                                        style="float: right;">
                                                        <span class="btn-label"><i class="mdi mdi-plus"></i>
                                                        </span>Tạo Voucher
                                                </button>
                                            </form>
                                        </div>

                                        <form th:object="${search}" th:action="@{/voucher/search}" id="search-form"
                                              class="row form-row justify-content-between">
                                            <div class="col-md-2">
                                                <label class="form-label">Mã:</label>
                                                <input type="search" class="form-control" th:field="*{ma}" name="ma">
                                            </div>
                                            <div class="col-md-2">
                                                <label class="form-label">Tên:</label>
                                                <input type="search" class="form-control" th:field="*{ten}">
                                            </div>
                                            <div class="col-md-2">
                                                <label class="form-label">Mức giảm:</label>
                                                <span id="rangeValue" style="text-align: center"></span>
                                                <input type="range" class="form-control-range" th:field="*{mucGiam}"
                                                       min="0" max="1000000" value="0"
                                                       oninput="showValue(this.value)">
                                            </div>
                                            <div class="col-md-2">
                                                <label class="form-label">Số tiền tối thiểu:</label>
                                                <span id="rangeValue1" style="text-align: center"></span>
                                                <input type="range" class="form-control-range" th:field="*{tien}"
                                                       min="0" max="1000000" value="0"
                                                       oninput="showValue1(this.value)">
                                            </div>
                                            <div class="col-md-2">
                                                <label class="form-label d-block">Trạng thái:</label>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" value="1"
                                                           th:field="*{trangThai}" checked>
                                                    <label class="form-check-label">Đang diễn ra</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" value="2"
                                                           th:field="*{trangThai}" checked>
                                                    <label class="form-check-label">Sắp diễn ra</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" value="0"
                                                           th:field="*{trangThai}">
                                                    <label class="form-check-label">Kết thúc</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12 d-flex justify-content-left">
                                                <div class="col-md-2">
                                                    <label class="form-label">Ngày bắt đầu:</label>
                                                    <input type="datetime-local" class="form-control"
                                                           th:field="*{thoiGianBatDau}">
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="form-label">Ngày kết thúc:</label>
                                                    <input type="datetime-local" class="form-control"
                                                           th:field="*{thoiGianKetThuc}">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <div class="row">
                                        <div class="col-sm-12" id="voucher-list">
                                            <table id="datatable-buttons"
                                                   class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"
                                                   style="border-collapse: collapse; border-spacing: 0px; width: 100%;"
                                                   role="grid" aria-describedby="datatable-buttons_info">
                                                <thead class="text-center">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Mã</th>
                                                    <th>Tên</th>
                                                    <th>Mức giảm</th>
                                                    <th>Số tiền tối thiểu</th>
                                                    <th>Ngày bắt đầu</th>
                                                    <th>Ngày kết thúc</th>
                                                    <th>Mô tả</th>
                                                    <th>Trạng thái</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="l,index : ${list.content}" class="text-center">
                                                    <td class="align-middle" th:text="${index.count}"></td>
                                                    <td class="align-middle" th:text="${l.ma}"></td>
                                                    <td class="align-middle" th:text="${l.ten}"></td>
                                                    <td class="align-middle"
                                                        th:text="${#numbers.formatDecimal(l.mucGiam, 0 , 'COMMA',3,'POINT').substring(0, #numbers.formatDecimal(l.mucGiam, 0 , 'COMMA',3,'POINT').length()-4)} + ' đ'"></td>
                                                    <td class="align-middle"
                                                        th:text="${#numbers.formatDecimal(l.tien, 0, 'COMMA', 3, 'POINT').substring(0, #numbers.formatDecimal(l.tien, 0, 'COMMA', 3, 'POINT').length() - 4)} + ' đ'"></td>
                                                    <td class="align-middle"
                                                        th:text="${#dates.format(l.thoiGianBatDau, 'dd/MM/yyyy HH:mm')}"></td>
                                                    <td class="align-middle"
                                                        th:text="${#dates.format(l.thoiGianKetThuc, 'dd/MM/yyyy HH:mm')}"></td>
                                                    <td class="align-middle" th:text="${l.moTa}"></td>
                                                    <td class="align-middle"
                                                        th:text="${l.trangThai == 1 ? 'Đang diễn ra' : ( l.trangThai==2 ? 'Sắp diễn ra' : 'Kết thúc')}"></td>
                                                    <td class="align-middle">
                                                        <a th:href="@{view-update/{id}(id=${l.id})}"><i
                                                                class="material-icons update"
                                                                data-toggle="tooltip"
                                                                title="Edit">&#xE254;</i></a>
                                                        <a th:href="@{delete/{id}(id=${l.id})}"><i
                                                                class="material-icons remove"
                                                                data-toggle="tooltip"
                                                                title="Delete"
                                                                onclick="return confirm('Bạn có muốn xoá không?')">&#xE872;</i></a>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 col-md-12" style="display: flex; justify-content: center">
                                            <nav aria-label="Page navigation example" class="flex">
                                                <ul class="pagination">
                                                    <!--                    <li class="page-item" th:classappend="${list.number == 0} ? disabled">-->
                                                    <!--                        <a class="page-link" th:href="@{/vouchers(page=0, size=${list.size})}">First</a>-->
                                                    <!--                    </li>-->
                                                    <li class="page-item"
                                                        th:classappend="${list.number == 0} ? disabled">
                                                        <a class="page-link"
                                                           th:href="@{/voucher/hien-thi(page=${list.number - 1})}">
                                                            Previous
                                                        </a>
                                                    </li>
                                                    <li class="page-item"
                                                        th:each="pageNumber : ${#numbers.sequence(0, list.totalPages - 1)}">
                                                        <a class="page-link"
                                                           th:href="@{/voucher/hien-thi(page=${pageNumber})}"
                                                           th:text="${pageNumber + 1}"
                                                           th:classappend="${pageNumber == list.number} ? active">
                                                        </a>
                                                    </li>
                                                    <li class="page-item"
                                                        th:classappend="${list.number == list.totalPages - 1} ? disabled">
                                                        <a class="page-link"
                                                           th:href="@{/voucher/hien-thi(page=${list.number + 1})}">
                                                            Next
                                                        </a>
                                                    </li>
                                                    <!--                    <li class="page-item" th:classappend="${list.number == list.totalPages - 1} ? disabled"><a-->
                                                    <!--                            class="page-link" th:href="@{/vouchers(page=${list.totalPages - 1}, size=${list.size})}">Last</a>-->
                                                    <!--                    </li>-->
                                                </ul>
                                            </nav>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end row -->


                    </div><!-- end col -->
                </div>
                <!-- end row -->


            </div>
            <!-- end row -->

        </div> <!-- end container-fluid -->

    </div> <!-- end content -->


    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    2016 - 2019 &copy; Uplon theme by <a href="">Coderthemes</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

</div>

<!--<img src="../../static/images/logo.jpg" alt="">-->
<script th:if="${successMessage}" th:inline="javascript">
    /*<![CDATA[*/
    window.addEventListener('DOMContentLoaded', function () {
        var successMessage = /*[[${successMessage}]]*/ '';
        if (successMessage) {
            swal({
                title: "Good job!",
                text: successMessage,
                icon: "success",
                button: "OK",
            });
        }
    });
    /*]]>*/
</script>

<script src="../../static/assets\js\vendor.min.js"></script>
<!--Morris Chart-->
<script src="../../static/assets\libs\morris-js\morris.min.js"></script>
<script src="../../static/assets\libs\raphael\raphael.min.js"></script>
<!-- Dashboard init js-->
<script src="../../static/assets\js\pages\dashboard.init.js"></script>
<!-- App js -->
<script src="../../static/assets\js\app.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
<script>
    function showValue(value) {
        document.getElementById("rangeValue").innerHTML = value;
    }
    function showValue1(value) {
        document.getElementById("rangeValue1").innerHTML = value;
    }
    const form = document.querySelector('.form-row');
    const rangeInputs = form.querySelectorAll('input[type="range"]');
    const datetimeInputs = form.querySelectorAll('input[type="datetime-local"]');
    const radioInputs = form.querySelectorAll('input[type="radio"]');
    const searchInput = form.querySelector('input[type="search"]');

    rangeInputs.forEach(input => {
        input.addEventListener('mousemove', () => {
            form.submit();
        });
    });

    datetimeInputs.forEach(input => {
        input.addEventListener('change', () => {
            form.submit();
        });
    });

    radioInputs.forEach(input => {
        input.addEventListener('change', () => {
            form.submit();
        });
    });

    searchInput.addEventListener('keyup', (event) => {
        if (event.key === 'Enter') {
            form.submit();
        }
    });
</script>
</body>
</html>