label{
    width: 30%;
    display: inline-block;
}
img{
   height: 200px;
    width: 200px;
}
input[type="file"]{
    padding-top: 10px;
}
select{
    width: 167px;
    height: 28px;
}
.anh{
    height: 300px;
    border: solid 2px; text-align: center; background-color: white;
}
